.container {
  display: flex;
  flex-direction: column;
  margin: 1%;
  &-outlet {
    flex: 1;
  }
}

@media (min-width: 1140px) {
  .container{
    margin: 0% 5% 5% 5%;
  }
}

@media (min-width: 320px) and (max-width: 1139px) {
  .container{
    margin: 1% 1% 5% 1%;
  }
}
